/*CSS PARA EL MAIN*/
.main{
    grid-area: main;

}

.img__item {
    touch-action: pan-y;
    user-select: none;
    margin-right: auto;
    margin-left: auto;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.img__principal {
    background-image: url(/images/slider1.jpg);
    width: auto;
    height: 623.20px;
    display: flex;
    align-items: center;
    opacity: 0.75;
}

.texto__centrado {
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.texto__centrado h1{
    margin-top: 21.440px;
    margin-bottom: 21.440px;
}

.areas__main {
    position: relative;
    z-index: 2;
    padding-top: 63px;
    padding-bottom: 63px;
}

.group__area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1246px;
    margin: 0 auto;
}

.detalle__portada {
    width: 45;
    margin: 0;
}

img {
    margin: auto;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.detalle__areas {
    width: 52%;
    position: relative;
}

.detalle__area__titulo {
    margin-bottom: 13px;
}

.detalle__area__titulo h2 {
    line-height: 1;
    font-family: 'Lato-Light', sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin: 0;
}

.detalle__area__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detalle__area__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    margin-top: 43px;
}

.detalle__area__item__icon {
    width: 55px;
    margin: 0;
}

.detalle__area__item__icon img {
    width: 100%;
    height: 100%;
    display: block;
}

.detalle__area__item__text {
    display: block;
    font-weight: bold;
    width: calc(100% - 85px);
    line-height: 1.1;
    color: #1b252d;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    margin: 0;
}

.hosting__services {
    padding-bottom: 40px;
}

.hosting__titulo {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.hosting__titulo__centrado {
    margin-bottom: 35px;
    text-align: center;
}

.hosting__titulo__centrado h2 {
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
}

.info__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cuadro__info {
    /* flex: 0 0 33.333333%; */
    /* max-width: 33.333333%; */
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.cuadro__info__item {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.15);
    padding: 30px 35px 32px 35px;
    text-align: center;
    transition: all 0.3s;
    /* margin-bottom: 30px; */
}

.cuadro__info__item span {
    font-size: 42px;
    color: #4c57d6;
}

.fa-shield:before {
    content: "\f132";
}

.cuadro__info__item h5 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 10px;
}

.choose__plans {
    padding-bottom: 40px;
}

.plans__titulo {
    flex: 0 0 58%;
    max-width: 58%;
    align-self: center;
}

.plans__titulo-alinear {
    text-align: left;
    /* margin-bottom: 60px; */
    padding-top: 30px;
}

.plans__titulo-alinear h3 {
    font-weight: 700;
    position: relative;
    font-size: 30px;
}

.boton__plans {
    flex: 0 0 42%;
    max-width: 42%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.boton__doble {
    border: 1px solid #4c57d6;
    border-radius: 50px;
    height: 52px;
    -width: 266px;
    float: right;
    margin-top: 30px;
}

.boton__doble label.active {
    background: #4c57d6;
    color: #ffffff;
}

.boton__doble label {
    font-size: 15px;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px 12px;
    border-radius: 50px;
    margin-right: -4px;
    position: relative;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.boton__doble label input {
    position: absolute;
    visibility: hidden;
}


.plans__month, .yearly__plans{
    display: none;
}


.plans__month.active, .yearly__plans.active{
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
}

.plans__cuadro {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.precio__item {

    text-align: center;
    padding-bottom: 20px;
    padding-top: 22px;
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.1);
    box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 40px;
}

.precio__item h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 34px;
    margin-top: 20px;
}

.precio__item h3 {
    background: #4c57d6;
    font-weight: 700;
    color: #ffffff;
    padding: 24px 0 20px;
    margin-bottom: 26px;
    margin-left: -30px;
    border-radius: 10px;
    margin-right: -30px;
    transition: all 0.3s;
    font-size: 30px;
}

.precio__item h3 span {
    font-size: 20px;
    font-weight: 400;
}

.precio__item ul {
    margin-bottom: 26px;
}

.precio__item ul li {
    font-size: 14px;
    line-height: 40px;
    list-style: none;
}

.section__new {
    padding-top: 50px;
    padding-bottom: 50px;
}

.acomodar__mensaje {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.acomodar__mensaje form {
    text-align: center;
}

.acomodar__mensaje h1 {
    margin-bottom: revert;
}

.acomodar__mensaje-superior {
    margin-right: -20px;
}

.section__new .acomodar__mensaje-superior select {
    font-size: 14px;
    color: #444444;
    width: calc(33.33% - 23px);
    height: 50px;
    padding-left: 20px;
    border: 2px solid #e1e1e1;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.boton__send {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #4c57d6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.cuadro__info__item figure img {
    height: 210px;
    width: 210px;
}

.contact__section {
    padding-top: 10px;
}

.contact__info {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}

.contact__info h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-size: 30px;
}

.contact__info p {
    color: #111111;
    font-size: 15px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
    text-align: justify;
}

.contact__info__text ul li {
    list-style: none;
    position: relative;
    padding-left: 65px;
    margin-bottom: 30px;
}

.contact__info__text ul li span {
    height: 46px;
    width: 46px;
    background: #4c57d6;
    line-height: 46px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.fa-map-marker:before {
    content: "\f041";
}

.contact__info__text ul li h4 {
    font-size: 20px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 5px;
    text-align-last: left;
}

.mapa {
    flex: 0 0 66.666667%;
    -max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mapa__acomodar {
    height: auto;
    -width: auto;
}

.mapa__acomodar iframe {
    border: 0;
    padding-top: 35px;
    width: 750px;
    height: 550px;
}

$redes: ( /*Mapa*/
        facebook: #3263af,
        instragram: #b309d7,
        linkedin: #3263af,
        twitter: #40c4ff
); 
/*Bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .contact__info__text .header__redes a.#{$red} {
       background-color: $color;
   }
}

$redes_a: ( /*map-get Redes*/
  mostrar: inline-block,
  texto_fuente: 30px,
  margen_derecha: 26px
);

/*General map-get Redes*/
.contact__info__text .header__redes a {
  display: map-get($redes_a, mostrar);
  font-size: map-get($redes_a, texto_fuente);
  margin-right: map-get($redes_a, margen_derecha);
}

.send__message {
    padding-top: 75px;
    padding-bottom: 75px;
}

.acomodar__mensaje h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-size: 30px;
}

.send__message .acomodar__mensaje-superior input {
    font-size: 14px;
    color: #444444;
    width: calc(33.33% - 23px);
    height: 50px;
    padding-left: 20px;
    border: 2px solid #e1e1e1;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.send__message form textarea {
    font-size: 14px;
    color: #444444;
    width: 100%;
    height: 130px;
    padding-left: 20px;
    border: 2px solid #e1e1e1;
    margin-bottom: 20px;
    border-radius: 10px;
    resize: none;
    padding-top: 12px;
    overflow: auto;
    font-family: inherit;
    line-height: inherit;
}